
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /users/{userId}{

    allow read;
    allow create;
    allow delete: if request.auth.uid != null;
    allow update: if request.auth.uid != null;


  match /likes/{likesId}{
    allow read,write: if request.auth.uid == userId;
  }
    match /likeUser/{likeUserId}{
    allow write: if request.auth.uid == userId;
    allow read;
  }
   match /message/{messageId}{
    allow read,write: if request.auth.uid == userId;
  }

   }

  match /posts/{postId}{
    allow read;
    allow write: if request.auth.uid != null;
     allow delete: if request.auth.uid == userId;
    allow update: if request.auth.uid == userId;

     match /comments/{commentsId}{
    allow read,write: if request.auth.uid != null;
         match /reply/{replyId}{
    allow read,write: if request.auth.uid != null;
  }
  }
  }
  match /lessons/{lessonsId}{
    allow read;
    allow write: if request.auth.uid != null;
       allow delete: if request.auth.uid != null;
    allow update: if request.auth.uid != null;
     match /slide/{slideId}{
      allow read;
    allow write: if request.auth.uid != null;
       allow delete: if request.auth.uid != null;
    allow update: if request.auth.uid != null;
     }
  }

    match /categories/{categoryId}{
    allow read;
    allow write: if request.auth.uid != null;
  }
      match /message/{messageId}{
    allow read;
    allow write: if request.auth.uid != null;
  }

   match /tags/{tagsId}{
    allow read;
    allow write: if request.auth.uid != null;
  }
    match /tanzaku/{tanzakuId}{
    allow read;
    allow write: if request.auth.uid != null;
  }
  }
}
