.post_button {
    border: none;
    color: cornflowerblue;
    background-color: transparent;
    cursor: pointer;
}

.post_buttonDisable {
    display: none;
}

.post_tag {
    list-style: none;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    margin: 10px;
}

.post_tag li {
    margin: 10px;
    background-color: #A4C6FF;
    border-radius: 15px;
    padding: 5px 10px;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.favorite {
    color: red;
    margin-right: 10px;
}

.no_favorite {
    margin-right: 10px;
}

.post_headerTime {
    color: grey;
    font-size: 0.9rem;
    margin-left: 28px;
}

.c_section_list {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    padding: 0 auto;
    text-align: center;
    width: 100%;
}

@media screen and (max-width:575px) {
    .post_tag li {
        margin: 5px;
        background-color: #A4C6FF;
        border-radius: 15px;
        padding: 5px 10px;
        color: grey;
        font-weight: bold;
        font-size: 0.8rem;
    }
    .c_section_list {
        margin: 0 auto;
        max-width: 575px;
        position: relative;
        padding: 0 auto;
        text-align: center;
        width: 100%;
    }
}